{% assign animal_name = include.animal.name | downcase %} {% assign found_image
= "" %} {% assign image_folder = "img/" | append: include.type | downcase %}

<!-- find current animals first image-->
{% for image in site.static_files %} {% assign image_path = image.path |
downcase %} {% if image_path contains image_folder and image_path contains
animal_name %} {% assign found_image = image.path %} {% break %} {% endif %} {%
endfor %}

<a href="/{{ include.type }}/{{ include.animal.name | slugify }}">
  <div
    class="box"
    style="background-image: url('{{ site.baseurl }}{{ found_image | default: include.animal.image }}');"
  >
    <div class="box" id="name-box">
      {{ include.animal.name }}<br />

      {% assign birth_date = include.animal.age | split: "." %} {% assign
      birth_month = birth_date[0] %} {% assign birth_year = birth_date[1] %} {%
      assign current_year = "now" | date: "%Y" %} {% assign current_month =
      "now" | date: "%m" %} {% assign age_years = current_year | minus:
      birth_year %} {% if current_month < birth_month %} {% assign age_years =
      age_years | minus: 1 %} {% endif %} {{ age_years }} Jahre
    </div>
  </div>
</a>

<style>
  .box {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: flex-end;
  }
  #name-box {
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.7);
  }
</style>
