<footer class="footer">
  <div class="container">
    <div class="has-text-left">
      <p>Asociatia Help of Afumati Dogs</p>
      <p>Straße: Strada Bucuresti-Urziceni No. 249B</p>
      <p>Ort: Afumati, Ilfov 040966</p>
      <p>Land: Rumänien</p>
    </div>
    <div class="has-text-right">
      <a href="/impressum"><p>Impressum</p></a>
      <a href="/datenschutz"><p>Datenschutzerklärung</p></a>
    </div>
    <div class="has-text-centered">
      <p>Copyright © 2025 Asociatia Help of Afumati Dogs</p>
    </div>
  </div>
</footer>
