<nav class="navbar is-fixed-top is-spaced	">
  <div class="navbar-brand">
    <a href="/"> 
    <img src="{{ '/assets/img/logo.png' | relative_url }}"  class="logo"/>
  </a>
</svg>

    </a>
    <div class="navbar-burger js-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

    <div class="navbar-end">
      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          {% for item in site.data.navigation %}
          {% if item.dropdown %}
          <div div class="navbar-item has-dropdown is-hoverable">
          <a href="{{ item.link }}" class="navbar-link " >
            {{ item.name }}
          </a>
            {% assign dropdown = item.dropdown %}
    
            <div class="navbar-dropdown ">
    
            {% for dropdown_item in dropdown%}
            <a href="{{ dropdown_item.link }}" class="navbar-item">
              {{ dropdown_item.name }}
            </a>
            {% endfor %}
            
            </div>
          </div>
            {% else %}
            <a href="{{ item.link }}" class="navbar-item" >
              {% if item.name == "Selbstauskunft" %}
        <button class="button is-info">        {{ item.name }}</button>
        {% else %}
                      {{ item.name }}
                        {% endif %}
            </a>
            {% endif %}
        {% endfor %}
        </div>
        <div class="navbar-item social-media-container">
        <a href="{{ item.link }}"  >
          <img width="28" height="28" src="https://img.icons8.com/ios-filled/100/facebook-new.png" alt="facebook-new"/>
        </a>
        <a href="{{ item.link }}"  >
          <img width="28" height="28" src="https://img.icons8.com/metro/104/instagram-new.png" alt="instagram-new"/>
        </a>    
      </div>
      </div>
  </div>
</nav>


  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });

    });
</script>

<style>
.navbar {
  --bulma-navbar-height: 3.5em;
}
.logo {
  max-height: var( --bulma-navbar-height);
}
.social-media-container{
  display: flex !important;
  justify-content: center;
}
</style>