@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400;500&display=swap");

:root {
  --bulma-primary: #f2e3d5;
  --bulma-link: #0583f2;
  --bulma-text: #260f01;
  --bulma-info: #0583f2;
  --bulma-body-color: #401e01;
  --bulma-text-strong: #260f01;
  --bulma-body-background-color: #f2e3d5;
  --bulma-navbar-height: 5em;
  --bulma-family-primary: "Saira Semi Condensed", serif;

  --afumati-brown: #401e01;
  --bulma-size-5: 42px;
  --bulma-size-3: 64px;
  --bulma-primary-base: #f2e3d5;
  --bulma-primary-h: 29deg;
  --bulma-primary-s: 52.7%;
  --bulma-primary-l: 89.2%;
  --bulma-body-font-size: 19px;
  --bulma-card-radius: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.footer {
  --bulma-footer-background-color: #401e01;
  color: #f2e3d5 !important;
  a {
    color: #4ebeeb !important;
  }
}
